modules = ["nodejs-20", "web"]
run = "netlify dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "netlify dev"]

[workflows]

[[workflows.workflow]]
name = "netlify intall"
mode = "sequential"
author = 35662683

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nodejs"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 3999
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 8888
externalPort = 80

[[ports]]
localPort = 35971
externalPort = 4200

[[ports]]
localPort = 36547
externalPort = 5000

[[ports]]
localPort = 37919
externalPort = 8000

[[ports]]
localPort = 38131
externalPort = 6000

[[ports]]
localPort = 40671
externalPort = 6800

[[ports]]
localPort = 42357
externalPort = 5173

[[ports]]
localPort = 45019
externalPort = 3001

[[ports]]
localPort = 45663
externalPort = 8008

[[ports]]
localPort = 46241
externalPort = 8080

[[ports]]
localPort = 46435
externalPort = 3003
